@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&subset=latin-ext,vietnamese');

@import "viewports";
@import "variables";

html, body {
  margin: 0;
  font-size: 10px;
}

body {
  min-height: 100vh;
  font-family: $app-font-family;
  color: $dark;
  background: $white;
  font-size: 1.5rem;
}

main {
  max-width: 100vw;
  position: relative;
  z-index: 2;
  overflow: hidden;
}

*, *:before, *:after {
  box-sizing: border-box;
}

a {
  color: inherit;
  text-decoration: none;
}

.t-center {
  text-align: center;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 2rem;

  &.container-small {
    max-width: 800px;
  }
}

.github-corner {
  @include viewports(up-to small) {
    display: none;
  }
}

.topbar {
  background: #fff;
  height: 88px;
  padding: 2rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include viewports(up-to small) {
    height: auto;
    padding-bottom: 0;
  }

  .container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include viewports(up-to small) {
      flex-direction: column;
      height: auto;
      border-bottom: none;
    }
  }

  .menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;

    @include viewports(up-to small) {
      width: 100vw;
      margin: 1.5rem -2rem 0;
      background: $gradient-blue-green;
      padding: 2rem 0;
      flex-wrap: nowrap;
      overflow: auto;
    }

    li {
      margin: 0 2rem;

      @include viewports(up-to small) {
        margin: 0 1.5rem;
      }

      &:last-child {
        margin-right: 0;
      }

      a {
        padding: 0.5rem 0;
        font-size: 1.5rem;
        font-weight: bold;
        color: $green;
        text-transform: uppercase;
        box-shadow: 0 1px 0 rgba($green, 0);
        transition: box-shadow 0.15s linear;

        @include viewports(up-to small) {
          white-space: nowrap;
          color: #fff;
        }

        &:hover {
          box-shadow: 0 1px 0 $green;

          @include viewports(up-to small) {
            box-shadow: 0 1px 0 #fff;
          }
        }

        &.active {
          box-shadow: 0 1px 0 rgba($green, 0.5);

          @include viewports(up-to small) {
            box-shadow: 0 2px 0 #fff;
          }
        }
      }
    }
  }
}

.hero-panel {
  background: url(img/bg-hero.jpg) no-repeat center center $dark;
  background-size: cover;
  overflow: auto;
  padding: 6.5rem 0;
}

.title {
  margin-top: 0;
  font-size: 3.8rem;
  color: #fff;

  @include viewports(up-to small) {
    margin-top: 3rem;
  }
}

.subtitle {
  font-size: 2.3rem;
  font-weight: normal;
  color: #fff;

  @include viewports(up-to small) {
    font-size: 2.1rem;
  }

  br {
    @include viewports(up-to medium) {
      display: none;
    }
  }
}

.steps-title {
  font-size: 2.3rem;
}

.call-btn {
  display: inline-block;
  margin-top: 2rem;
  min-width: 300px;
  text-align: center;
  padding: 1.4rem 3rem;
  border-radius: 5px;
  background: #fff;
  font-size: 2.3rem;
  color: $green;
  font-weight: bold;
  transition: all 0.2s linear;

  @include viewports(up-to small) {
    min-width: 100%;
  }

  &:hover {
    background: $green;
    color: #fff;
  }

  &.small {
    min-width: 250px;
    font-size: 1.7rem;

    @include viewports(up-to small) {
      min-width: 0;
    }
  }
}

.steps {
  display: flex;
  max-width: 880px;
  margin: 5rem auto;
  position: relative;

  @include viewports(up-to small) {
    flex-direction: column;
    margin-bottom: 1rem;
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 70%;
    margin: 13px 15% 0;
    height: 4px;
    background: $green;

    @include viewports(up-to small) {
      display: none;
    }
  }

  .step {
    position: relative;
    z-index: 2;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    @include viewports(up-to small) {
      margin-bottom: 5rem;
    }

    .number {
      width: 30px;
      height: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: #fff;
      border: 2px solid $green;
      color: $green;
      font-weight: bold;
    }

    .img {
      height: 70px;
      margin: 2rem 0;
    }

    .details {
      font-size: 1.5rem;
      font-weight: bold;

      a {
        color: $green;
        border-bottom: 1px solid $green;
      }

      @include viewports(up-to small) {
        font-size: 1.7rem;
        font-weight: normal;
      }
    }
  }
}

.features {
  position: relative;
  background: $green;
  width: 90%;
  min-height: 250px;
  margin: 5rem auto;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;

  @include viewports(up-to small) {
    flex-direction: column;
    background-size: auto 100%;
    margin-top: 1rem;
    margin: 1rem auto 5rem;
    width: 100%;
  }

  .feature {
    position: relative;
    z-index: 2;
    flex: 1;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 2rem;
    padding-top: 4rem;

    &:not(:last-child):after {
      content: '';
      position: absolute;
      width: 1px;
      height: 50%;
      background: rgba(#fff, 0.5);
      right: 0;
      top: 50%;
      transform: translateY(-50%);

      @include viewports(up-to small) {
        width: 50%;
        height: 1px;
        top: auto;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    .checkmark {
      margin: 0 auto;
      border: 1px solid #fff;
      border-radius: 50%;
      width: 90px;
      height: 90px;
      display: flex;
      align-items: center;
      justify-content: center;

      img {
        width: 46px;
        height: 31px;
      }
    }

    .details {
      height: 60px;
      font-size: 1.7rem;
      color: #fff;
      text-shadow: 0 1px 0 rgba(#000, 0.2);
    }
  }
}

.box {
  border: 1px solid $green;
  border-radius: 6px;
  padding: 2rem;

  @include viewports(up-to small) {
    padding: 2rem 1rem;
  }

  p {
    @include viewports(up-to small) {
      margin-top: 0;
    }
  }
}

.read-more {
  width: 90%;
  min-height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include viewports(up-to small) {
    flex-direction: column;
    width: 100%;
  }

  p {
    max-width: 600px;
    text-align: left;
    font-size: 1.8rem;
    flex: 1;
    padding-right: 5rem;

    @include viewports(up-to small) {
      text-align: center;
      padding-right: 0;
   }
  }

  .call-btn {
    margin-top: 0;
    background: $green;
    color: #fff;
  }
}

.socials {
  display: flex;
  max-width: 500px;
  justify-content: space-between;
  align-items: center;
  margin: 8rem auto;

  @include viewports(up-to small) {
    margin: 4rem auto 2rem;
    flex-direction: column;
    justify-content: flex-start;
  }

  .social {
    display: flex;
    transition: transform 0.3s ease-in-out;

    @include viewports(up-to small) {
      width: 150px;
      margin-bottom: 3rem;
    }

    &:hover {
      transform: translate3d(0, -5px, 0);
    }
    
    .details {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
      margin-left: 1rem;
      text-align: left;
      text-align: left;

      .name {
        font-size: 1.7rem;
      }

      .link {
        font-size: 1.3rem;
        color: $silver;
        margin-top: -2px;
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 86px;
  background: $dark;
  color: #fff;
  font-size: 1.6rem;

  .container {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include viewports(up-to small) {
      justify-content: center;
    }

    .copyright {
      @include viewports(up-to small) {
        display: none;
      }
    }

    .footer-links {
      @include viewports(up-to small) {
        text-align: center;
      }
      a {
        margin: 0 1.5rem;
        padding: 0.2rem 0;
        text-shadow: 0 1px 1px rgba($dark, 0.1);
        box-shadow: 0 2px 0 rgba(#fff, 0);
        transition: box-shadow 0.15s linear;

        &:hover {
          box-shadow: 0 2px 0 #fff;
        }
      }
    }
  }
}

.page-title {
  height: 125px;
  background: $dark;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  margin-top: -1px;

  @include viewports(up-to small) {
    border-top: 1px solid rgba(#000, 0.1);
    box-shadow: 0 2px 5px rgba(#000, 0.05) inset;
  }

  h1 {
    color: #fff;
    font-weight: normal;
    text-align: center;
  }
}

.text-content {
  margin: 5rem 0;

  p, ul, ol {
    font-size: 1.7rem;
    line-height: 2.6rem;
  }

  h2 {
    font-size: 3.2rem;
    color: $green;
    font-weight: normal;
  }

  ul {
    font-weight: bold;

    li {
      margin-bottom: 2rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  blockquote {
    margin: 5rem 0;
    padding: 3rem;
    font-size: 2.3rem;
    border-left: 5px solid $green;
    background: linear-gradient(90deg, rgba($green, 0.1), rgba($green, 0.1));
    color: $grey;
  }
}

.canvas-wrapper {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
}

.connecting-dots {
  width: 100vw;
  height: 100vh;

  @include viewports(up-to small) {
    display: none;
  }
}

.connecting-dots-white {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;

  @include viewports(up-to small) {
    display: none;
  }
}