/*
 * Colors
 */

$white: #f8f8f8;
$blue: #6bc1b8;
$green: #3cb054;
$dark: #333333;
$grey: rgba($dark, 0.8);
$silver: rgba($dark, 0.5);

$gradient-blue-green: linear-gradient(90deg, $blue, $green);

/*
 * Fonts
 */

 $app-font-family: 'Source Sans Pro', sans-serif;